body {
    font-family: 'Titillium Web', sans-serif;
    font-size: 16px;
    background-color: white;
    overflow-x: hidden;
    position: relative;
    color: #0c0d17;
}

section {
    width: 100%;
    padding-bottom: 4em;
}

.text-primary {
    color: #565DA3;
}
.fill-primary {
    fill: #565DA3;
}
.bg-primary,
.bg-primary-hover:hover {
    background-color: #565DA3;
    transition: all 0.6s ease;
}


.text-accent,
.text-accent-hover:hover {
    color: #1F2772;
}
.fill-accent {
    fill: #1F2772;
}
.bg-accent,
.bg-accent-hover:hover {
    background-color: #1F2772;
}

.text-light {
    color: #A4A8D3;
}
.fill-light {
    fill: #A4A8D3;
}
.bg-light {
    background-color: #A4A8D3;
}

.text-gray,
.text-gray-hover:hover {
    color: #3a434c;
}
.fill-gray {
    fill: #3a434c;
}
.bg-gray {
    background-color: #3a434c;
}
.border-gray {
    border-color: #3a434c;
}

.text-dark {
    color: #0c0d17;
}
.fill-dark {
    fill: #0c0d17;
}
.bg-dark {
    background-color: #0c0d17;
}

.text-white {
    color: #fff;
}
.fill-white {
    fill: #fff;
}
.bg-white {
    background-color: #fff;
}

.text-gray-light {
    color: #f9f9f9;
}
.fill-gray-light {
    fill: #f9f9f9;
}
.bg-gray-light {
    background-color: #f9f9f9;
}

.spacer {
    width: 100%;
    height: 100px;
}

.content-box {
    width: 90%;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 0.5em 1em;
    min-height: 100%;
}

.content-box .title-section {
    font-size: 3rem;
    font-weight: 300;
    text-align: center;
    margin-top: 0.2em;
    margin-bottom: 1.5em;
}

.content-box .subtitle-section {
    font-size: 1.5rem;
    font-weight: 500;
    text-align: center;
    margin-bottom: 0;
}

.content-box p {
    font-size: 1.2rem;
    line-height: initial;
    text-align: center;
}

/* Preloader */


.preloader {
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #0c0d17;
    z-index: 99999;
}

.preloader .loader {
    position: absolute;
    width: 30px;
    height: 30px;
    border: 4px solid #565DA3;
    -o-animation:loader 2s infinite ease;
    -ms-animation:loader 2s infinite ease;
    -moz-animation:loader 2s infinite ease;
    -webkit-animation:loader 2s infinite ease;
    animation: loader 2s infinite ease;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

.preloader .loader .loader-inner {
    display: inline-block;
    width: 100%;
    vertical-align: top;
    background-color: #565DA3;
    -o-animation:loader-inner 2s infinite ease-in;
    -ms-animation:loader-inner 2s infinite ease-in;
    -moz-animation:loader-inner 2s infinite ease-in;
    -webkit-animation:loader-inner 2s infinite ease-in;
    animation: loader-inner 2s infinite ease-in;
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  
  25% {
    transform: rotate(180deg);
  }
  
  50% {
    transform: rotate(180deg);
  }
  
  75% {
    transform: rotate(360deg);
  }
  
  100% {
    transform: rotate(360deg);
  }
}

@keyframes loader-inner {
  0% {
    height: 0%;
  }
  
  25% {
    height: 0%;
  }
  
  50% {
    height: 100%;
  }
  
  75% {
    height: 100%;
  }
  
  100% {
    height: 0%;
  }
}

header {
    display: flex;
    align-items: center;
    width: 100%;
    height: 60px;
    max-height: 60px;
    box-sizing: border-box;
    padding: 0.5em 1em;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    background-color: transparent;
    transition: all 0.3s ease;
}

.header-bg {
    background-color: white;
    box-shadow: 0 1px 1px #f3f3f3;
    transition: all 0.3s ease;
}

header .container-logo,
header .container-nav-menu {
    width: 50%;
}

header .container-logo {
    text-align: left;
}

header .container-logo svg {
    width: 25px;
    fill: white;
}

.header-bg .container-logo svg,
header.active-nav .container-logo svg {
    fill: #0c0d17;
}

header .container-nav-menu {
    text-align: right;
}

.nav-icon {
    width: 30px;
    height: 18px;
    position: relative;
    display: inline-block;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
}

.nav-icon span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    opacity: 1;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
    background-color: white;
}

.header-bg .nav-icon span,
.active-nav .nav-icon span {
    background-color: #0c0d17;
}

.nav-icon span:nth-child(1) {
    top: 0px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}

.nav-icon span:nth-child(2) {
    top: 7px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}

.nav-icon span:nth-child(3) {
    top: 14px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
    width: 60%;
    right: 0 !important;
}

.active-nav .nav-icon span {
    width: 85%;
}

.active-nav .nav-icon span:nth-child(1) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    top: -3px;
    left: 8px;
}

.active-nav .nav-icon span:nth-child(2) {
    width: 0%;
    opacity: 0;
}

.active-nav .nav-icon span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 16px;
    left: 8px;
}

.menu {
    background: #fff;
    width: 100%;
    height: 100vh;
    position: fixed;
    display: table;
    z-index: 5;
    transform: translateX(100%);
    transition: all ease 0.4s 0.6s;
    box-sizing: border-box;
    padding: 1em;
}

.menu.active {
    transform: translateX(0);
    transition-delay: 0s;
}

.menu .nav-items {
    display: table-cell;
    vertical-align: middle;
}

.menu .nav-items ul {
    list-style: none;
    width: 100%;
}

.menu .nav-items ul li {
    overflow: hidden;
    margin: 1em 0;
}

.menu .nav-items ul a {
    font-size: 2.5rem;
    font-weight: 900;
    text-decoration: none;
    transform: translateY(55px);
    display: block;
    transition: all ease 0.4s 0.0s;
}

.menu.active .nav-items ul a {
    transform: translateY(0);
    transition: transform ease 0.7s 0.5s;
}


#home {
    max-width: 100%;
    height: 100vh;
    display: table;
    position: relative;
}

#particles-js {
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 1;
}

.home-content {
    position: relative;
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    box-sizing: border-box;
    padding: 0 1em;
}

.home-content h1 {
    font-size: 3.5rem;
    margin-bottom: 0;
    letter-spacing: -1px;
    text-align: center;
}

.home-content h2 {
    font-size: 2.5rem;
    margin-top: 0;
    letter-spacing: -1px;
    font-weight: 500;
    margin-bottom: 0.5em;
    text-align: center;
}

.home-link-contact {
    display: block;
    overflow: hidden;
    color: white;
    text-decoration: none;
    text-align: center;
    font-size: 1.2rem;
    width: 150px;
    margin: 0 auto;
    margin-top: 2.5em;
    border-radius: 0.25rem;
    padding: 0.7em 2em;
}

.home-link-contact svg {
    width: 20px;
    fill: white;
}

.container-service {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-self: stretch;
    justify-content: center;
    text-align: center;
    margin-bottom: 1em;
}

.column-reverse {
    flex-direction: column-reverse;
}

.container-service .service-image,
.container-service .service-description {
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 1.5em;
}

.container-service .service-image {
    text-align: center;
}

.container-service .service-image img {
    width: 100%;
}

.container-service .service-description h4,
.container-service .service-description p,
.container-service .service-description ul {
    text-align: left;
}

.container-service .service-description h4 {
    font-size: 1.8rem;
    font-weight: 300;
    margin-bottom: 0.5em;
}

.container-service .service-description li {
    font-size: 1.2rem;
}

.container-service .service-description a {
    text-decoration: none;
    display: table;
    margin-top: 1em;
}

.container-service .service-description a span,
.container-service .service-description a svg {
    display: table-cell;
    vertical-align: middle;
}

.container-service .service-description a span {
    font-size: 1.2rem;
    padding-left: 10px;
    font-weight: 700;
}

.container-service .service-description svg {
    width: 25px;
}

.container-project {
    width: 100%;
}

.og-container-info-gallery {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-self: stretch;
    justify-content: center;
    padding: 0.5em;
}

.og-container-info-gallery .og-fullimg,
.og-container-info-gallery .og-details {
    width: 100%;
    float: none;
    padding: 0;
}

.project-media,
.project-description {
    width: 100%;
}

.project-media img {
    width: 100%;
    height: 350;
    object-fit: cover;
}

footer {
    width: 100%;
    box-sizing: border-box;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
}

footer .content-box {
    min-height: 40px;
}

.container-footer {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-self: stretch;
    justify-content: center;
}

.container-footer .container-logo {
    margin-bottom: 1em;
    text-align: center;
}

.container-footer .container-logo svg {
    width: 20px;
}

.container-footer .container-logo p {
    margin: 0;
    font-size: 0.9rem;
}

.container-footer .container-email {
    text-align: center;
}

.container-footer .container-email p{
    margin: 0;
    padding: 0;
}

.container-footer .container-email svg {
    width: 25px;
}

.container-footer .container-email p {
    font-size: .9rem;
    display: none;
}

.container-footer .container-email a {
    text-decoration: none;
    font-weight: bold;
}

@media (min-width: 768px) {
    .menu .nav-items ul a {
        font-size: 3.5rem;
    }

    .home-content {
        padding: 0 6em;
        margin: 0;
        width: 100%;
    }

    .home-content h1 {
        font-size: 6.5rem;
        letter-spacing: -1px;
        line-height: 128px;
    }

    .home-content h2 {
        font-size: 4rem;
    }

    .content-box {
        width: 70%;
        padding: 0;
    }
    
    .content-box h3 {
        font-size: 3rem;
    }
}

@media (min-width: 1024px) {
    .content-box .title-section {
        margin-bottom: 2em;
    }

    .container-service {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
        margin-bottom: 3em;
    }

    .container-service .service-image,
    .container-service .service-description {
        box-sizing: border-box;
    }

    .container-service .service-image {
        width: 50%;
        box-sizing: border-box;
    }

    .container-service .service-description {
        width: 50%;
        box-sizing: border-box;
    }

    .og-container-info-gallery {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .og-container-info-gallery .og-fullimg,
    .og-container-info-gallery .og-details {
        box-sizing: border-box;
        padding: 10px;
        width: 50%;
    }

    .project-media {
        width: 45%;
    }
    
    .project-description {
        width: 50%;
    }
}

@media (min-width: 1400px) {
    #aboutme .content-box {
        width: 50%;
    }
}
